.loader {
	/*visibility: hidden;*/
	display: none;
}

.loader-active .loader {
	/*visibility: visible;*/
	display:block;
	position: fixed;
	top: 50%;
	left: 50%;
	width:24px;
	height:24px;
	/*margin: -12px -12px auto auto;*/
	margin-top: -12px;
	margin-left: -12px;
}