# <!-- @echo name -->

<!-- @echo description -->


### Install

#### Node

```Shell
npm install <!-- @echo name -->
```

#### Browser

```Shell
component install <!-- @echo name -->
```

```Shell
bower install <!-- @echo name -->
```


## Usage

```JavaScript
var page-transitions = require('page-transitions');
```


